/* Estiliza o jogo */
#hint {
    margin-top: 20%;
}

#word {
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: center;
}

#word p {
    font-size: 1.5rem;
    font-weight: bold;
}

#letters {
    height: 10%;
    
    display: flex;
    align-items: center;
    background: transparent;
    gap: 1%;
}

.letter {
    height: 100%;
    min-width: 10%;

    background: rgb(39, 39, 39) url("../assets/Filter1.png");
    color: white;
    border-radius: .3rem;
    transition-duration: 150ms;
    font-weight: bold;
    
    cursor: pointer;
    
}

.letter:hover {
    background: rgb(55, 55, 55);
    transform: translateY(-5px);
}