/* Organiza a tela */

h1, h2, h3, p, label, a {
    height: fit-content;
    
    margin: 0;
    padding: .5rem 0;

    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2vw;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgb(30, 30, 30) url(../assets/Filter2.png);
}

#game-container {
    width: 95%;
    height: 90%;

    display: flex;
    justify-content: space-between;
}

.box {
    height: fit-content;

    display: flex;
    justify-content: center;

    border-radius: .3rem;
    background: transparent;
}

.side-box-size {
    width: 10%;
    min-height: 100px;
    height: fit-content;
}

#game {
    width: 40%;
    
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player span {
    display: flex;
    justify-content: center;
    gap: 5%;
}

#score, #records{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score h3, #records h3 {
    margin-top: 1rem;
}

.hearts {
    height: 2rem;
    width: auto;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65) url(../assets/Filter1.png)
}

.modal {
    width: 100vw;
    height: 100vh;
    
    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: none;
    background: none;
}

.modal div {
    width: 30%;
    height: 30%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    border-radius: .3rem;
    background: rgb(20, 20, 20) url(../assets/Filter1.png);
}

.modal h1 {
  font-size: 1.5rem;
}

.modal button {
    color: white;
    font-weight: bold;
    
    background-color: rgb(37, 127, 37);
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    padding: .5rem 1rem;
}

.modal button:hover {
    background-color: rgb(37, 104, 37);
}

#startModal input {
    text-align: center;
    font-weight: bold;

    height: 5vh;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
}

#startModal input:focus {
    box-shadow: 0px 3px rgb(90, 90, 90);
}

#startModal, #endModal {
    display: none;
}

#criador {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;

    display: flex;
    align-items: center;
    gap: 10px;
}

#criador a {
    color: rgb(2, 111, 201);
    font-weight: bold;
}